* {
    direction: rtl;
    font-family: 'Arial (Hebrew)', Arial;
    box-sizing: border-box;
}
body{
    position: relative;
    margin: 0;
    line-height: 1;
}
header{
    position: relative;
    font-size: 12px;
    font-weight: bold;
    color: white;
    height: 105px;
    background-image: linear-gradient(
      #909090,
      #909090 80%,
      #aaaaaa );     
}
.header{
    width: 900px;
    margin: auto;
    text-align: left;
   
}
.header p{
    display:inline-block;
    position: relative;
    top:15px;
    
}
#enlang{
    padding-left: 10px;
}
.header p>img{
    position: relative;
    top:5px;
    margin-left:7px;
}
input{
    font-size: 13.3px;
    width:  132px;
    height: 19px;
    margin-left: -5px;
}
#search{
    border: 2px solid white;
    border-top-right-radius: 5px;

}
li.sep{ 
    padding-left:19px; 
    border-left:0.4px solid rgb(185, 185, 185);
}
#home {
    margin-left:5px;
}
.menu{
    position: absolute;
    bottom: 5px;  
}
#logo{
    position: absolute;
    right: -20px;
    bottom: -20px;
}
ul{
    margin-right: 0;
    padding-right: 130px;
    list-style: none;
    
}
li{
    display: inline-block;
    font-size: 15px;
    font-weight: bold;    
    padding-right:13.5px;
}

header a ,footer a{
    text-decoration:none;
    color:white;
}
a.readMore>span {
   
    padding-left: 12px;
}
a>span {
    cursor: pointer;
}
a.readMore {
    float: left;
    color:white;
    font-size: 13px; 
}
a.readMore2 , a.readMoreMap {
    font-size: 13px;
    color: #72716d;  
}
a.readMoreMap{
    display: inline-block;
    width:15px;
    margin-left: 12px;
    margin-bottom: 10px;
    
}
a.readMore2{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
a.readMore:hover , a.readMoreMap:hover  {
    color: #005ca0;    
}
a.readMore2:hover  {
    color: #005ca0;    
}


.dropdown {
    position: relative;
  }
  

.dropdown-content {
    position: absolute;  
    background-image: linear-gradient(
        #aaaaaa ,
        #909090 ,
        #909090 80%); 
    right: 10px;
    top: 16px;
    display: none;
    z-index: 5;
    text-align: right;
    padding: 4px;    
  }

  
  .dropdown-content > a {
      
      text-decoration: none; 
      padding: 2px;    
  }
  
.dropdown:hover>a , .dropdown-content a:hover {
    color: rgb(0,92,160);
}
.dropdown-content>li{
    margin: 0;
    padding: 5px ;
    display: block;
    border-width: 100%;
  }

.dropdown-content>li:not(.different) {
    border-top: 0.4px solid rgb(185, 185, 185);
  }
  .dropdown:hover > .dropdown-content {
    display: block;
  }
/* ========================================================================================= */
section{
    margin-top: 20px;
    height: 670px;
    
}
div.row,div.rowC{
    margin: auto;
    position: relative;
    text-align: center;  
          
}

section:nth-child(1){
    margin-top:50px;
}
section:nth-child(2){
    margin-top: 18px; 
}

div.img{
    position: relative;
    margin: 0;
    display: inline-block;
    margin: 6px 4px;
}
div.img2{
    position: relative;
    margin: 0;
    display: inline-block;
    /* padding:4px; */
    
}
img.top{
    
    border-bottom-right-radius: 30px 30px;
    height: 355px;
    width: 293px;
}
img.bottom{
    
    width: 293px;
    height: 240px;
}
div.divtxt{
    position:absolute;
    /* background-color: #909090ef; */
    background-color: #888787e7;
    border-bottom-right-radius: 30px 30px;
    left: 38px;
    bottom: 8px;
    width: 248px;
    height: 97px;
    padding: 10px;
    color:#fff;
    text-align: right;
    font-weight: bold;
    
}
h3{
    font-size: 14px;
    padding-block-start: 0;
    margin: 0;
    opacity: 1;
}
p{
    font-weight: normal;
    font-size: 13px;
    margin: 0;
    opacity: 1;
     
}
div.link{
    position: absolute;
    font-size: 13px;
    font-weight: normal;
    text-decoration: underline;
    left: 6px;
    bottom: 3px;
}

 
h2{
    color: #575757;
    font-size: 14px;
    position: absolute;
    top: 15px;
    right: 30px;
}
.adv_img{
    position: absolute;
    top: 70px;
    right: 30px;
}
span{
    display: inline-block;
    
}
span>a{
    color:#72716d;
    font-size: 13px;
    text-decoration: underline;
       
}
span>img{
    padding-right: 5px; 
}
#map{
    position: absolute;
    left: 30px;
    bottom: 10px;
}
div.link2{
    position: absolute;
    font-size: 13px;
    font-weight: normal;
    text-decoration: underline;
    left: 5px;
    bottom: 25px;
}

.floatcontainer:after, .fc:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* ========================================================================================= */
#fixedFooter {
    width: 100%;
    height: 38px;
    position: fixed;
    z-index: 999999;
    bottom: 0px;
    background-image: linear-gradient(
        #aaaaaa ,
        #909090 ,
        #909090 80%); 
        height: 38px;
        width: 100%;
}

#fixedFooter  .fbLink {
    display:inline-block;
    margin-bottom:0px;
    width: 18px; 
    height: 18px;
   background: url("images/fb_icon.png")  no-repeat;
  margin-bottom: -5px;
   
}
 .container{
     width:900px;
     margin:0 auto;
 }

#fixedFooter .menu,.fc{
    display:inline-block;
    line-height:38px;
    vertical-align:middle;
    font-size: 14px;
    color:white;
    bottom:-3px;
}

/* ========================================================================================= */

