*{
    padding: 0;
  margin: 0;
}
/* header */
body {
    direction: rtl;
    font-family: 'Arial (Hebrew)', Arial;
    padding-bottom: 38px;
    background: #fff url('/images/header_bg.png') repeat-x center top;
    line-height: 1;
}

#header {
    width: 100%;
    height: 105px;
    position: relative;
    z-index: 100;
}
.floatcontainer, .fc {
    display: block;
    color:white;
}
#header a.logo {
    display: block;
    width: 142px;
    height: 93px;
    position: absolute;
    bottom: -20px;
    right: -8px;
    background: url('/images/paz_logo.png') no-repeat 0 0;
}

a {
    text-decoration: none;
    outline: none;
}
#header #mainMenu li a.home {
    width: 17px;
    /* border:1px solid red; */
    /* background: url('/images/menu_home.png') no-repeat 0 top; */
}

user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
#header #searchBox {
    position: absolute;
    top: 20px;
    left: 10px;
    width: 152px;
}
.floatcontainer:after, .fc:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#header #mainMenu {
    height: 33px;
    position: relative;
    top: 72px;
    margin: 0 143px 0 0;
}
ul, menu, dir {
    list-style: none;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

#header #langmenu {
    position: absolute;
    top: 20px;
    left: 180px;
}
a span {
    cursor: pointer;
}
/* section container */

/* footer */
#fixedFooter {
    width: 100%;
    height: 38px;
    position: fixed;
    z-index: 999999;
    bottom: 0px;
    background: url("/images/footer_bg.png") repeat-x 0 0;
}
#fixedFooter .container {
    width: 900px;
    height: 100%;
    margin: 0 auto;
}
#fixedFooter .menu {
    font-size: 14px;
    margin-top: 16px;
}
#fixedFooter  a.fbLink {
    /* display: block; */
    position: relative;
    bottom: 2px;
    width: 18px;
    height: 18px;
    /* background: url('') no-repeat 0 0; */
}

#fixedFooter  a{
    color:white;
}